[Unit]
Description=Schedule Afaaq Institute PostgreSQL backups

[Timer]
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=afaaqinstitute-backup.service

[Install]
WantedBy=timers.target
